.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    height: 90vh;
}

.item{
    background-color: yellow;
    padding: 10px;
    color: black;
}

.item1{
    grid-column: span 4;
    grid-row: span 3;
}
.item2{
    grid-row: span 4;
}
.item4{
    grid-column: span 2;
}
.item5{
    grid-column: span 2; }

.item10{
    grid-column: span 3;
}