




.mainSearchArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px; color: white;
    border-radius: 20px;
}
.button1{
    background-color: rgb(50, 50, 50);
}
.button2{
    background-color: rgb(50, 50, 50);
}